
<li class="control-group nested-fields">

	<div class="controls">

	    <div class="controls">
	    <%= f.label :avatar %>
	    <%= image_tag(f.object.avatar_url(:thumb)) if f.object.avatar? %>
    	<%= f.file_field :avatar, :cols => "20", :rows => "10" %>
	    </div>

	  	<div class="controls">
    		<%= link_to_remove_association "Remover", f %>
  		</div>

	</div>

</li>