<div style="padding: 8em 0 0 0;">
<div class="container">
	<div class="row">
   <section class="about" id="service">
        <div class="container">
            <div class="row">
                <h2>Profissionais</h2>
            </div>

        </div>

    </section>
</div>
<div class="row">
<br>
	<div class="row text-center">
		<% @users.each do |u| %>
        
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                
                    <%= image_tag(u.perfil.pic.url) if u.perfil? %>
                    <div class="caption">
                        <h3><%= u.name%></h3>
                        <p>Categoria: <%= u.category.name%></p>
                        <p>
                            <%= link_to "Mais informações", show_professional_path(u), class: "btn btn-primary"%>
                        </p>
                    </div>
                </div>
            </div>
		
		<% end %>
</div>
        </div>
        <!-- /.row -->		
	
</div>
</div>