
<div class="row" style="background: #5bc0de; color:#fff; margin:0; ">
	<div class="row">
	
	<div class="col-sm-6 col-sm-offset-3">
	<div class="panel" style="box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77); color: #000;">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-search"></i>Buscar profissionais</h3>
  </div>
  <div class="panel-body">
  <form class="form-inline">
    <div class="form-group">
		<label>Categoria</label>
		<select class="form-control">
			<option>Selecione uma categoria</option>
		</select>
	</div>
	<div class="form-group ">
		<label>Nome</label>
		<input class="form-control" type="text" />
	</div>
	
	
		<button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
	</form>
	</div>
  </div>
</div>
</div>
            
            <div class="row">

            <h1 style="margin-left:1em; " >CATEGORIAS</h1>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://www.galata.com.br/assets/images/icone-frontend-200x200-29.jpg"  alt="">
	                <h4> Desenvolvedor </h4>
	           
	            </div>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="http://zipanuncios.com.br/wp-content/uploads/Pedreiro-200x200.jpg" alt="">
	                <h4> Pedreiro </h4>
	            </div>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://d1gkntzr8mxq7s.cloudfront.net/5436d4ebc1290.png" alt="">
	                <h4> Engenheiro Eletrico </h4>  
	            </div>
	            
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://d1gkntzr8mxq7s.cloudfront.net/5436d4ebc1290.png" alt="">
	                <h4> Engenheiro Eletrico </h4>  
	            </div>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://www.galata.com.br/assets/images/icone-frontend-200x200-29.jpg"  alt="">
	                <h4> Desenvolvedor </h4>
	           
	            </div>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="http://zipanuncios.com.br/wp-content/uploads/Pedreiro-200x200.jpg" alt="">
	                <h4> Pedreiro </h4>
	            </div>
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://d1gkntzr8mxq7s.cloudfront.net/5436d4ebc1290.png" alt="">
	                <h4> Engenheiro Eletrico </h4>  
	            </div>
	            
	            <div class="col-sm-3 text-center">
	                <img class="img-rounded img-responsive img-center" src="https://d1gkntzr8mxq7s.cloudfront.net/5436d4ebc1290.png" alt="">
	                <h4> Engenheiro Eletrico </h4>  
	            </div>

           	</div>
           	
            

            
            
        </div>
        <br><br>
        
        <div class="row" style="margin:0;"">
  		<h2>ULTIMOS COMENTÁRIOS</h2>
  		<hr>
  		
  		<blockquote>
  		<p>Profissional: Wesley vieira</p>
  <p>Comentário: Esta trabalhando com rapidez.</p>
  <footer style="color: #000">Enviado por <strong>Cliente</strong></footer>
</blockquote>
<blockquote>
  		<p>Profissional: Wesley vieira</p>
  <p>Comentário: Esta trabalhando com rapidez.</p>
  <footer style="color: #000">Enviado por <strong>Cliente</strong></footer>
</blockquote>
<blockquote>
  		<p>Profissional: Wesley vieira</p>
  <p>Comentário: Esta trabalhando com rapidez.</p>
  <footer style="color: #000">Enviado por <strong>Cliente</strong></footer>
</blockquote>
  		</div>

  		<div class="row"  style="background: #5bc0de; color:#fff;">
  		<div class="col-lg-12">
                <h1 >Portifolio
                    <small style="color: #fff">Ultimas fotos de serviços</small>
                </h1>
            </div>
        
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin: 1em;">

            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.acei.org.br/wp-content/uploads/2015/01/pretac3a7c3a3o-servic3a7o1.jpg" alt="">
                </a>
            </div>
            
        </div>

        <!-- /.row -->
  		</div>
<footer style="margin: 0; padding: 0;">
<br>
        <center>
            <p>&copy; 2017 By I9SoluçõesWeb. Todos os direitos reservados.</p>
            <!--<ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>-->
        </center>
        <br>
    </footer>